body {
    font-family: DM Serif Display;
    background-color: rgb(143, 156, 156);
}
header {
    padding-top: 5em;
}
.formacion {
    display: inline-flex;
    justify-content: space-between;
}
section i {
    font-size: 4rem;
    text-align: center;
    padding: 40%;
}

footer p,a{
    color: white;
    text-decoration: solid;
    font-weight: lighter;
    margin: 0px;
    text-align: left;
}
.corporate {
    text-align: left;
    text-decoration:wavy;
}
.redes {
    color: aqua;
}


table, tr,td,th {
    border: 2px solid black;
    border-collapse: collapse;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    padding-top: 5px;
    vertical-align: top;
}
.portafolioimg {
    width: 80%;

}
.tablestyle {
    padding-top: 3em;
}